* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background: #000000 url("../assets/background.jpg") center / cover no-repeat; */
  width: 1050px;
  height: 400px;
  display: flex;

  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
button {
  height: 25px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.884);
  color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: 0.05s;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}
button:active {
  transform: translateY(-4px);
}
.soundDiv {
  display: flex;
}
